<div class="jumbotron">
  <h1>Bryce Frazier</h1>
  <img src="/assets/profile.jpg" id="profile"><br><br>
  <h2>Junior Software Developer</h2>
  <!-- <span>When I'm not coding, you can find me at Powell's City of Books, the gym, or a movie theater.</span> -->
</div>
<div class="card-body">
  <h1>About Me:</h1>
    <span>Software developing appealed to me because of the daily challenges it presents and the opportunity to work and grow in a dynamic field. My interests are databases, quality assurance, and back-end development. My decision to study software development at Epicodus marked a huge transition in my life. Epicodus's provided me with an excellent foundation that I will continue to build on.</span>
  <br>
  <br>
  <h1>Skills:</h1>
    <span>At Epicodus's pair-programming bootcamp, I developed a strong understanding or Ruby, Rails, Javascript. Along with me strong interpersonal skills, collaborative mindset, and history of customer service, I offer a unique perspective in the engineering community.</span>
  <br>
  <br>
  <h1>Hobbies:</h1>
    <span>When I'm away from the coding, my hobbies revolve around film, fitness, music, literature, and coffee. On my days off, I like to visit Powell's City of Books, coffeehouses throughout Portland, and catch movies at the Bagdad Theater, Living Room theater, Hollywood Theater, or Cinema 21.</span>
  <br>
  <br>
  <h1>Projects:</h1>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.title, project_path(project) %></li>
    <% end %>
  </ul>
  <br>
  <h1>Contact Details:</h1>
    <span>Email: bx.frazier@gmail.com</span></br>
    <span>LinkedIn: <a href="https://www.linkedin.com/in/bryce-frazier86/">bryce-frazier86</a></span></br>
    <span>GitHub: <a href="https://github.com/SiR-Frazier">SiR-Frazier</a></span>
</div>
