<div class="jumbotron">
  <h1>Bryce Frazier's Portfolio</h1>
  <img src="./../images/portfoliopic.jpg">
</div>
<div class="card-body">
  <h1>About Me:</h1>
    <span>Software developing appealed to me because of the daily challenges it presents and the opportunity to work and grow in a dynamic field. My interests are databases, quality assurance, and back-end development. My decision to study software development at Epicodus marked a huge transition in my life. Epicodus's provided me with an excellent foundation that I will continue to build on.</span>
  <br>
  <br>
  <h1>Projects:</h1>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.title, project_path(project) %></li>
    <% end %>
  </ul>
  <br>
  <h1>Contact Details</h1>
</div>
