* {
  font-family: 'Poiret One', cursive;
}
.jumbotron {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #82CFFD;
  text-align: center;
}
 li {
   list-style: none;
 }

#profile {
  border-radius: 50%;
  height: auto;
  width: 15%;
}
